<form method="post" action="<?= URI;?>?path=WordProcessor/processing" class="form-horizontal">
	<p>Enter text on English.</p>
	<div class="control-group">
		<select name="count_exclusion_words">
			<option value="100">100</option>
			<option value="200">200</option>
			<option value="300">300</option>
		</select>
	</div>
	<div class="control-group">
		<textarea name="text" rows="30" cols="80" class="input-xxlarge"></textarea>
	</div>
	<div class="control-group">
		<input type="submit" class="btn">
	</div>
</form>