<?php $number = 1;?>
<table class="table table-bordered table-striped">
	<tr>
		<th>Number</th>
		<th>Word</th>
		<th>Count</th>
	</tr>
	<?php foreach ($countWords as $word => $count) : ?>
		<tr>
			<td><?= $number++;?></td>
			<td><?= $word;?></td>
			<td><?= $count;?></td>
		</tr>
	<?php endforeach;?>
</table>