<form method="post" action="<?= URI;?>?path=WordProcessor/userProcessing" class="form-horizontal">
	<p>Enter text on English.</p>
	<div class="control-group">
		<textarea name="text" rows="30" cols="80" class="input-xxlarge"></textarea>
	</div>
	<div class="control-group">
		<input type="submit" class="btn">
	</div>
</form>