<h3>Words to exclude</h3>

<table class="table table-bordered table-striped">
	<tr>
		<th>Number</th>
		<th>Word</th>
	</tr>
	<?php foreach ($words as $number => $word) : ?>
		<tr>
			<td><?= ++$number;?></td>
			<td><?= $word;?></td>
		</tr>
	<?php endforeach;?>
</table>