<h3>Words to exclude</h3>

<table class="table table-bordered table-striped">
	<tr>
		<th>Number</th>
		<th>Word</th>
		<th>Action</th>
	</tr>
	<?php foreach ($words as $number => $word) : ?>
		<tr>
			<td><?= ++$number;?></td>
			<td><?= $word['word'];?></td>
			<td><a href="?path=Dictionary/delete&id=<?= $word['id'] ?>" class="ajax">Delete</a></td>
		</tr>
	<?php endforeach;?>
</table>